.becquerel-accordeon {
  margin-bottom: 7px;
  margin-top: 7px;
}
.becquerel-accordeon .becquerel-accordeon-title {
  display: list-item;
  background: #f1f2f6;
  padding: 10px 12px 10px 2em;
  cursor: pointer;
}
.becquerel-accordeon .becquerel-accordeon-body {
  padding-top: 0;
  padding-bottom: 0.5em;
}
.becquerel-accordeon.bordered {
  border-left: 6px solid;
  border-top: 0;
}

.becquerel-accordeon-body p {
  padding-left: 3em;
  margin-top: 0;
}

.becquerel-accordeon details[open] summary ~ * {
  animation: lwopen 0.5s ease-in-out;
}
.becquerel-accordeon .becquerel-accordeon-title p,
.becquerel-accordeon .becquerel-accordeon-title span,
.becquerel-accordeon .becquerel-accordeon-title h1,
.becquerel-accordeon .becquerel-accordeon-title h2,
.becquerel-accordeon .becquerel-accordeon-title h3 {
  display: inline;
  font-size: 18px;
  font-family: inherit;
  margin-left: 1em;
}
@keyframes lwopen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
details {
  font-size: 1rem;
  width: 100%;
  background: inherit;
  border-radius: 8px;
  position: relative;
}
details .summary-title {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
details:hover {
  cursor: pointer;
}

details summary {
  list-style: none;
  padding: 1em;
}
details summary:focus {
  outline: none;
}
details summary:hover .summary-chevron-up svg {
  opacity: 1;
}
details .summary-chevron-up svg {
  opacity: 0.5;
}
details .summary-chevron-up,
details .summary-chevron-down {
  pointer-events: none;
  position: absolute;
  top: 0.75em;
  left: 1em;
  background-color: inherit;
}
details .summary-chevron-up svg,
details .summary-chevron-down svg {
  display: block;
}
details summary::-webkit-details-marker {
  display: none;
}
