.wp-admin .becquerel-accordeon .becquerel-accordeon-body {
  padding: 0;
  border-left: 6px solid;
}
.wp-admin .becquerel-accordeon .becquerel-accordeon-title {
  display: block;
  background: #f1f2f6;
  border-left: 6px solid;
  padding: 10px 12px 10px 18px;
  margin-bottom: 0;
}
.wp-admin .becquerel-accordeon .becquerel-accordeon-title:before {
  content: "\25BC ";
  margin-right: 0.4em;
}
.wp-admin * summary {
  border-left: 6px solid;
}
.wp-admin .becquerel-accordeon .becquerel-accordeon-body {
  padding-top: 0;
  border-left: 6px solid;
  margin-top: 0;
  border-top: 0;
}

.wp-admin .becquerel-accordeon .becquerel-accordeon-body * p {
  padding-top: 0;
  margin-top: 0;
  border-top: 0;
}
.wp-admin .becquerel-accordeon.bordered .becquerel-accordeon-body {
  border-left: 6px solid currentColor;
}
